<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
<footer class="foot bg-custom">

    <div class="row col-md-6 cntr">
        <div class="col-md-4">
            <a
            class="btn btn-floating m-1"
            
            href="#!"
            role="button">
                <i class="bi bi-instagram"><strong> Instagram</strong></i>
            </a>
        </div>
        <div class="col-md-4">
            <a
            class="btn btn-floating m-1"
            href="https://www.linkedin.com/in/sahil-lohan/"
            role="button">
                <i class="bi bi-linkedin"> <strong>LinkedIn</strong></i>
            </a>
        </div>
        <div class="col-md-4">
            <a
            class="btn btn-floating m-1"
            href="https://github.com/SahilLohan"
            role="button">
                <i class="bi bi-github"><strong>GitHub</strong> </i>
            </a>
        </div>
    </div>
</footer>