.body-content{
    min-height: 90vh;
}

.navbar{
    padding:5px 20px;
    border-radius: 10px 10px 0px 0;    
}
.bg-custom{
    background-color: #37631cbd;
}
.cntr{
    margin: auto;
    text-align: center;
}

foot{
    border-radius:  0px 0px 10px 10px;   
}